<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        colors="true"
        cacheResult="false"
        executionOrder="depends,defects"
        beStrictAboutOutputDuringTests="false"
        failOnWarning="false"
        failOnRisky="false"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Classes</directory>
        </include>
        <exclude>
            <directory>Resources</directory>
        </exclude>
    </source>
</phpunit>
